* { 
	margin: 0; padding: 0; 
}

body {
	background-color: #101010;
	font-family: sans-serif;
}

h1 {
	color:white;
	margin: 20px 0;
	font-weight: bold
}

p {
	font-size: 15px;
	font-weight: bold;

}

.contenido {
	max-width: 80%;
	float: left;
	padding: 10px 0px 10px 15px;
	position: relative;
}

#contenedor {
	width: 400px;
	margin: 20px auto
}

.numero {
	position: absolute;
	margin-top: 15px;
	color:white;
	background-color: black;
	border-radius: 5px;
	padding: 5px 5px;
	right: -15px
}

.Cajacolor {
	background-color: rgba(177,39,72,.9);
	width: 90%;
	min-height: 70px;
	max-height: 140px;
	border-radius: 10px;
	margin: -10px 0;
	position: relative;
}

.segundo {
	background-color: rgba(177,39,39,.9);
	width: 85%;
}

.Tercero {
	background-color: rgba(177,114,39,.9);
	width: 80%;
}

.Cuarto{
	background-color: rgba(169,177,39,.9);
	width: 60%;
}

.Quinto{
	background-color: rgba(130,177,39,.9);
	width: 55%;
}

.Sexto{
	background-color: rgba(72,177,39,.9);
	width: 50%;
}

.Septimo{
	background-color: rgba(34,176,101,.9);
	width: 45%;
}

.Octavo{
	background-color: rgba(31,158,130,.9);
	width: 40%;
}

.Noveno{
	background-color: rgba(31,158,157,.9);
	width: 40%;
}

.Decimo{
	background-color: rgba(31,133,158,.9);
	width: 35%;
}

